<h1>List of registered entities</h1>
<i>To access an Entity's DID, Wallet, or Credentials, you need to provide its key (🔴 = no access ; 🟢 = access granted)</i>
<br />
<br />
{{#if param.items.length}}
  <div class="grid">
    <div  class ="item">
      <br />
      <br />
      <div >
        <a class="button selected"  href="/static/entity_create">
          Create a new Entity...
        </a>
        </div>
      <br />
    </div>
    {{#each param.items}}    
    <div class ="item">
      <p><b>{{name}}</b></p>
      {{#if key}} 
        <div class="key haskey">🟢</div>
      {{else}}
        <div class="key nokey">🔴</div>
      {{/if}}
      <ul>
        <li>ID: {{id}}</li>
        <li>date created: {{createdAt}}</li>
        {{#if key}} 
          <a href="/static/entity/{{id}}">access entity...</a>
        {{else}}
          <a href="/static/entity/{{id}}">provide key to access data...</a>
        {{/if}}

      </ul>
    </div>
    {{/each}}
  </div>
{{else}}
  <p> No entities yet</p>
{{/if}}
